body {
	color: white;
	overflow-x: hidden;
	margin: 0;
	background-color: #000;
	font-family: 'Karla', sans-serif;
	box-sizing: border-box;
}

h1, h2, h3 {
	font-family: 'Open Sans', sans-serif;
}

header {
	padding-bottom: 26rem;
	background-image: url("images/banners/banner-shells-blue-wood.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	/*box-shadow: inset 120px 150px 110px #000;*/
}

header::after {
	content: '';
	position: absolute;
	margin-left: -4rem;
	margin-right: -4rem;
	top: 0;
	left: 0;
	width: 120%;
	height: 30rem;
	background: rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: inset 0px -103px 300px 0px rgba(0,0,0,1);
	-moz-box-shadow: inset 0px -103px 300px 0px rgba(0,0,0,1);
	box-shadow: inset 0px -103px 300px 0px rgba(0,0,0,1);
}

nav a {
	font-family: 'Open Sans', sans-serif;
	padding: 1rem;
	display: inline-block;
	color: white;
	z-index: 3;
	position: relative;
	font-weight: 600;
	text-decoration: none;
}

.first-section {
	position: relative;
	top: -15rem;
	margin-bottom: -13rem !important;
}

::-webkit-scrollbar {
	display: none;
}

scrollbar {
	display: none;
}

.albums-showcase {
	display: inline-flex;
}

section {
	padding-left: 4vw;
	padding-right: 4vw;
	overflow-x: auto;
}

.albums-showcase div {
	margin-right: 1rem;
	cursor: pointer;
}

.albums-showcase div img:hover {
	transition-duration: 0.1s;
	opacity: 0.7;
}

.albums-showcase img {
	width: 12.5rem;
	height: 12.5rem;
	border-radius: 5px;
	display: block;
}

/* Colour Palette:
 * Black:		#363636		(54,54,54)
 * Light Black: #3f4042		(63,64,66)
 * Red:			#c3352e		(195,53,46)
 * Dark Red:	#ac362e		(172,54,46)
 * White:		#ffffff		(255,255,255)
*/
