body {
	color: white;
	overflow-x: hidden;
	margin: 0;
	background-color: #000;
	font-family: 'Karla', sans-serif;
	box-sizing: border-box;
}

header {
	padding-bottom: 18rem;
	background-image: url("images/pixelated-sunset.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	/*box-shadow: inset 120px 150px 110px #000;*/
}

header::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 22rem;
	background: rgba(0, 0, 0, 0);
	-webkit-box-shadow: inset 0px -91px 300px 47px rgba(0,0,0,1);
-moz-box-shadow: inset 0px -91px 300px 47px rgba(0,0,0,1);
box-shadow: inset 0px -91px 300px 47px rgba(0,0,0,1);
}

::-webkit-scrollbar {
	display: none;
}

scrollbar {
	display: none;
}

navbar, .login-button {
	position: relative;
	z-index: 2;
}

navbar button {
	color: white;
	background: none;
	border: none;
	padding: 0;
}

.float-right {
	position: relative;
	float: right;
}

.login-button {
	float: right;
	color: #000;
	background-color: #fff;
	padding: 0.5rem;
}


.albums-showcase {
	display: inline-flex;
}

section {
	overflow-x: auto;
}

.albums-showcase div {
	margin: 0 0.5rem 0 0.5rem;
	cursor: pointer;
}

.albums-showcase div:hover {
	/*box-shadow: inset 120px 150px 110px #000;
	-webkit-box-shadow: 0 0 10px #fff;
	box-shadow: 0 0 10px #fff;*/
}

.albums-showcase img {
	width: 12.5rem;
	height: 12.5rem;
	display: block;
}

/* dummy navbar */

navbar ul {
	z-index: 2;
	position: relative;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

navbar li {
	float: left;
}

navbar li a {
	display: block;
	color: white;
	text-align: center;
	padding: 0.75rem;
	text-decoration: none;
}

navbar li a:hover {
	background-color: #111;
}

/* Colour Palette:
 * Black:	#363636		(54,54,54)
 * Light Black: #3f4042		(63,64,66)
 * Red:		#c3352e		(195,53,46)
 * Dark Red;	#ac362e		(172,54,46)
 * White: 	#ffffff		(255,255,255)
*/
